<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" defer)
    title Document
  body
    main
      h1 hi World

      div
      div
      div

    script.
      console.log("Hello World !!!");